In [171]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import OneHotEncoder
import xgboost as xgb
import plotly.express as px

In [172]:
iris_gen = pd.read_csv("iris_gen.csv", index_col = 0)
iris_gen1 = pd.read_csv("iris_gen1.csv", index_col = 0)
iris_gen2 = pd.read_csv("iris_gen2.csv", index_col = 0)
iris_gen3 = pd.read_csv("iris_gen3.csv", index_col = 0)
iris_real = pd.read_csv("iris_real.csv", index_col = 0)
iris_df = pd.read_csv("iris_df.csv", index_col = 0)

In [173]:
iris_real['label'] = 1
iris_gen['label'] = 0
X = pd.concat((iris_real, iris_gen))
X = X.reset_index().drop('index', axis = 1)

In [174]:
iris_df

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
0        6.111756     2.950675      5.128048     1.867702  versicolor
1        5.850115     2.196588      3.713890     1.533663  versicolor
2        6.984751     2.985816      5.978273     1.703157   virginica
3        5.751760     2.163817      4.432081     1.256406      setosa
4        6.904680     3.017226      4.294641     2.036870  versicolor
..            ...          ...           ...          ...         ...
145      6.985690     3.113025      6.385693     2.072599   virginica
146      5.014251     3.427766      1.605657     0.271765      setosa
147      5.525199     2.401770      3.256444     0.573240   virginica
148      6.596612     3.015409      3.685680     1.622146   virginica
149      5.395169     3.928525      1.345740     0.129773      setosa

[150 rows x 5 columns]

In [175]:
X.tail()

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species  label
295      7.077443     3.533612      5.722960     2.218411  virginica      0
296      6.433702     2.715548      3.758984     1.793429  virginica      0
297      6.212737     2.840024      5.211494     1.911354  virginica      0
298      5.048454     3.408796      1.799205     0.228658     setosa      0
299      6.430155     3.152463      6.317766     2.223824  virginica      0

In [176]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(sparse = False)
iris_enc = enc.fit_transform(X[['Species']])
X[['0', '1', '2']] = iris_enc
X.drop(['Species'], axis = 1, inplace = True)
X.insert(X.shape[1] - 1, 'label', X.pop('label'))

In [177]:
X.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    0    1    2  label
0           5.1          3.5           1.4          0.2  1.0  0.0  0.0      1
1           4.9          3.0           1.4          0.2  1.0  0.0  0.0      1
2           4.7          3.2           1.3          0.2  1.0  0.0  0.0      1
3           4.6          3.1           1.5          0.2  1.0  0.0  0.0      1
4           5.0          3.6           1.4          0.2  1.0  0.0  0.0      1

In [219]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X.iloc[:, :-1], X.iloc[:, -1], test_size = 0.1)

In [220]:
model = xgb.XGBClassifier( n_estimators=20, max_depth = 3)
model.fit(X_train, y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=3, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=20, n_jobs=None, num_parallel_tree=None,
              predictor=None, random_state=None, ...)

In [221]:
preds = model.predict(X_test)
np.sum(preds == y_test)/len(y_test)
model.score(X_test, y_test)

0.8

In [225]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators = 50, max_depth = 5)
rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.6333333333333333

In [146]:
y_train

124    1
173    0
20     1
88     1
299    0
      ..
288    0
75     1
146    1
60     1
15     1
Name: label, Length: 240, dtype: int64

In [147]:
X_train

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    0    1    2
124      6.700000     3.300000      5.700000     2.100000  0.0  0.0  1.0
173      5.925328     3.228476      4.692686     1.244151  0.0  0.0  1.0
20       5.400000     3.400000      1.700000     0.200000  1.0  0.0  0.0
88       5.600000     3.000000      4.100000     1.300000  0.0  1.0  0.0
299      5.395169     3.928525      1.345740     0.129773  1.0  0.0  0.0
..            ...          ...           ...          ...  ...  ...  ...
288      4.993712     3.391092      1.248589     0.200871  1.0  0.0  0.0
75       6.600000     3.000000      4.400000     1.400000  0.0  1.0  0.0
146      6.300000     2.500000      5.000000     1.900000  0.0  0.0  1.0
60       5.000000     2.000000      3.500000     1.000000  0.0  1.0  0.0
15       5.700000     4.400000      1.500000     0.400000  1.0  0.0  0.0

[240 rows x 7 columns]