In [24]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import OneHotEncoder
import xgboost as xgb
import plotly.express as px

In [25]:
iris_gen = pd.read_csv("../data/iris_gen.csv", index_col = 0)
iris_gen1 = pd.read_csv("../data/iris_gen1.csv", index_col = 0)
iris_gen2 = pd.read_csv("../data/iris_gen2.csv", index_col = 0)
iris_gen3 = pd.read_csv("../data/iris_gen3.csv", index_col = 0)
iris_real = pd.read_csv("../data/iris_real.csv", index_col = 0)
iris_df = pd.read_csv("../data/iris_df.csv", index_col = 0)

In [26]:
iris_real['label'] = 1

In [62]:

iris_df['label'] = 0
X = pd.concat((iris_real, iris_df))
X = X.reset_index().drop('index', axis = 1)

In [63]:
iris_df

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species  label
0        6.111756     2.950675      5.128048     1.867702  versicolor      0
1        5.850115     2.196588      3.713890     1.533663  versicolor      0
2        6.984751     2.985816      5.978273     1.703157   virginica      0
3        5.751760     2.163817      4.432081     1.256406      setosa      0
4        6.904680     3.017226      4.294641     2.036870  versicolor      0
..            ...          ...           ...          ...         ...    ...
145      6.985690     3.113025      6.385693     2.072599   virginica      0
146      5.014251     3.427766      1.605657     0.271765      setosa      0
147      5.525199     2.401770      3.256444     0.573240   virginica      0
148      6.596612     3.015409      3.685680     1.622146   virginica      0
149      5.395169     3.928525      1.345740     0.129773      setosa      0

[150 rows x 6 columns]

In [64]:
X.tail()

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species  label
295      6.985690     3.113025      6.385693     2.072599  virginica      0
296      5.014251     3.427766      1.605657     0.271765     setosa      0
297      5.525199     2.401770      3.256444     0.573240  virginica      0
298      6.596612     3.015409      3.685680     1.622146  virginica      0
299      5.395169     3.928525      1.345740     0.129773     setosa      0

In [65]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(sparse = False)
iris_enc = enc.fit_transform(X[['Species']])
X[['0', '1', '2']] = iris_enc
X.drop(['Species'], axis = 1, inplace = True)
X.insert(X.shape[1] - 1, 'label', X.pop('label'))

In [66]:
X.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    0    1    2  label
0           5.1          3.5           1.4          0.2  1.0  0.0  0.0      1
1           4.9          3.0           1.4          0.2  1.0  0.0  0.0      1
2           4.7          3.2           1.3          0.2  1.0  0.0  0.0      1
3           4.6          3.1           1.5          0.2  1.0  0.0  0.0      1
4           5.0          3.6           1.4          0.2  1.0  0.0  0.0      1

In [71]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X.iloc[:, :-1], X.iloc[:, -1], test_size = 0.2)

In [72]:
model = xgb.XGBClassifier( n_estimators=50, max_depth = 3)
model.fit(X_train, y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=3, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=50, n_jobs=None, num_parallel_tree=None,
              predictor=None, random_state=None, ...)

In [73]:
preds = model.predict(X_test)
np.sum(preds == y_test)/len(y_test)
model.score(X_test, y_test)

0.85

In [74]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators = 50, max_depth = 5)
rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.7833333333333333

In [13]:
y_train

162    0
182    0
293    0
295    0
7      1
      ..
145    1
16     1
296    0
113    1
31     1
Name: label, Length: 270, dtype: int64

In [14]:
X_train

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    0    1    2
162      5.309149     3.484480      1.310495     0.367066  1.0  0.0  0.0
182      5.093900     3.871947      1.448629     0.187303  1.0  0.0  0.0
293      5.583550     3.521266      1.375777     0.210529  1.0  0.0  0.0
295      7.077443     3.533612      5.722960     2.218411  0.0  0.0  1.0
7        5.000000     3.400000      1.500000     0.200000  1.0  0.0  0.0
..            ...          ...           ...          ...  ...  ...  ...
145      6.700000     3.000000      5.200000     2.300000  0.0  0.0  1.0
16       5.400000     3.900000      1.300000     0.400000  1.0  0.0  0.0
296      6.433702     2.715548      3.758984     1.793429  0.0  0.0  1.0
113      5.700000     2.500000      5.000000     2.000000  0.0  0.0  1.0
31       5.400000     3.400000      1.500000     0.400000  1.0  0.0  0.0

[270 rows x 7 columns]