In [109]:
from sklearn.ensemble import AdaBoostClassifier, RandomForestClassifier
import xgboost as xgb
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import f1_score
import pandas as pd
import numpy as np

In [110]:
pima_synth = pd.read_csv("axgb_data/pima_train.csv")
pima = pd.read_csv("original_data/pima_train.csv")
test = pd.read_csv("original_data/pima_test.csv")

In [111]:
first = AdaBoostClassifier(n_estimators = 50)
second = AdaBoostClassifier(n_estimators = 50)

In [112]:
first.fit(pima_synth.iloc[:, :-1], pima_synth.iloc[:, -1])

AdaBoostClassifier()

In [113]:
second.fit(pima.iloc[:, :-1], pima.iloc[:, -1])

AdaBoostClassifier()

In [114]:
second.score(test.iloc[:, :-1], test.iloc[:, -1])

0.7337662337662337

In [115]:
first.score(test.iloc[:, :-1], test.iloc[:, -1])

0.7272727272727273

In [116]:
pima_synth.describe()

,pregnant,glucose,pressure,triceps,insulin,mass,pedigree,age
count,614.000000,614.000000,614.000000,614.000000,6.140000e+02,614.000000,614.000000,614.000000
mean,4.597664,119.485405,68.738721,13.027144,3.627222e+01,30.898450,0.482998,33.465077
std,2.403363,27.931139,14.136373,13.715046,6.775995e+01,5.940868,0.289051,10.064058
min,-0.514558,64.990892,34.842911,-0.002541,-3.877221e-08,17.904147,0.090384,21.005281
25%,3.102137,99.318247,63.543559,0.000955,-1.196482e-08,26.594647,0.236623,27.956998
50%,4.410628,111.569285,71.123547,7.762250,8.693007e-09,31.416741,0.433804,32.339071
75%,6.522267,134.242317,81.239344,23.392671,3.411731e+01,35.486250,0.678672,36.346949
max,10.797041,173.418652,87.732681,44.370893,1.999138e+02,41.950016,1.445096,59.412273

In [117]:
pima.describe()

,pregnant,glucose,pressure,triceps,insulin,mass,pedigree,age
count,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000
mean,3.884365,121.724756,69.102606,20.579805,79.315961,31.972476,0.484433,33.522801
std,3.395802,32.335428,19.338765,16.271934,113.455820,8.024199,0.337869,11.995593
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000
25%,1.000000,100.000000,62.500000,0.000000,0.000000,27.100000,0.247000,24.000000
50%,3.000000,118.000000,72.000000,23.000000,16.500000,32.050000,0.381500,29.000000
75%,6.000000,142.000000,80.000000,33.000000,130.000000,36.750000,0.653500,41.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000