In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [22]:
breastcancer = pd.read_csv("original_data/breastcancer.csv", index_col = 0)
diamonds = pd.read_csv("original_data/diamonds.csv", index_col = 0)
pima = pd.read_csv("original_data/pima.csv", index_col = 0)
shuttle = pd.read_csv("original_data/shuttle.csv", index_col = 0)
vowel = pd.read_csv("original_data/vowel.csv", index_col = 0)

In [4]:
breastcancer.head()

,Id,Cl.thickness,Cell.size,Cell.shape,Marg.adhesion,Epith.c.size,Bare.nuclei,Bl.cromatin,Normal.nucleoli,Mitoses,Class
1,1000025,5,1,1,1,2,1.0,3,1,1,benign
2,1002945,5,4,4,5,7,10.0,3,2,1,benign
3,1015425,3,1,1,1,2,2.0,3,1,1,benign
4,1016277,6,8,8,1,3,4.0,3,7,1,benign
5,1017023,4,1,1,3,2,1.0,3,1,1,benign

In [14]:
breastcancer = breastcancer.drop('Id', axis = 1)

In [18]:
breastcancer.sample(frac = 1)
breastcancer.reset_index().drop('index', axis = 1)

,Cl.thickness,Cell.size,Cell.shape,Marg.adhesion,Epith.c.size,Bare.nuclei,Bl.cromatin,Normal.nucleoli,Mitoses,Class
0,5,1,1,1,2,1.0,3,1,1,benign
1,5,4,4,5,7,10.0,3,2,1,benign
2,3,1,1,1,2,2.0,3,1,1,benign
3,6,8,8,1,3,4.0,3,7,1,benign
4,4,1,1,3,2,1.0,3,1,1,benign
...,...,...,...,...,...,...,...,...,...,...
694,3,1,1,1,3,2.0,1,1,1,benign
695,2,1,1,1,2,1.0,1,1,1,benign
696,5,10,10,3,7,3.0,8,10,2,malignant
697,4,8,6,4,3,4.0,10,6,1,malignant
698,4,8,8,5,4,5.0,10,4,1,malignant

In [20]:
X_train, X_test, y_train, y_test = train_test_split(breastcancer.iloc[:,:-1], breastcancer.iloc[:, -1], test_size = 0.2)

In [21]:
X_train

,Id,Cl.thickness,Cell.size,Cell.shape,Marg.adhesion,Epith.c.size,Bare.nuclei,Bl.cromatin,Normal.nucleoli,Mitoses
597,1325309,4,1,2,1,2,1.0,2,1,1
656,1326892,3,1,1,1,2,1.0,2,1,1
55,1110524,10,5,5,6,8,8.0,7,1,1
19,1050670,10,7,7,6,4,10.0,4,1,2
575,378275,10,9,7,3,4,2.0,7,7,1
...,...,...,...,...,...,...,...,...,...,...
595,1315506,4,8,6,3,4,10.0,7,1,1
104,1168359,8,2,3,1,6,3.0,7,1,1
168,1198128,10,8,10,10,6,1.0,3,1,10
306,659642,10,8,4,4,4,10.0,3,10,4
357,859164,5,3,3,1,3,3.0,3,3,3